h1{
  color: black;
  font-weight: strong;
  text-align: auto;
  }

.bubbles {
    max-height: auto;
    max-width: 1280px; overflow: hidden;
    justify-self: left;
    
}

.images {
    width: 1220px; overflow: hidden;
    display: grid;
    overflow-x: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #737373;
    justify-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px; 
    }

#first{
    width: 250px;
    justify-content: right;
    border-radius: 250px;
    height: 250px;
    border: #464646 12px solid;
} 

#second{
    width: 250px;
    justify-content: center;
    border-radius: 250px;
    height: 250px;
    border: #464646 12px solid;
}

#third{
    width: 250px;
    justify-content: center;
    border-radius: 250px;
    height: 250px;
    border: #464646 12px solid;
}