body {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}

.work {
    height: auto;
    vertical-align: middle;
    text-align: center;
}

.picture {
    align-items: center;

}

button {
    font-size: 30px;
    color: white;
    background-color: blue;
    border-radius: 8px;
}
    